.section{
    display: flex;
    justify-content: center;
  }
  .section-data{
    margin: 7em;
  }

  .prompt-button-start{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .button-prompt{
    height: 3.5em;
    width: 18em;
  }
.prompt-content{
    font-size: 1.5em;
   margin:1em 7em;
   line-height: 2em;
}

.prompt-text{
    width: 35em;
}

.prompt-data{
    margin: 3em 10em 0 10em;
}

.prompt-data-field{
    margin-top: 2em;
}

.select{
    width: 42em;
    height: 4em;
}

.options{
   zoom: 1.2;  
}
.prompt-button{
    margin-top: 2em;
}

.prompt-example{
    display: flex;
}

.prompt-para{
text-align: justify;
font-size: 1.1em;
}

.what-prompt{
  margin: 5em 10em;
  text-align: center;
}

.prompt-p{
padding: 1em;
  text-align: justify;
  font-size: 1.2em;
}

.prompt-points{
 text-align: start;
}

.prompt-point{
  margin:1em auto ;
  font-size: 1.3em;
}

.footer{
  padding:3em 10em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5em;
  background-color: black;
}

.footer-name{
  color: white;
}

.links-footer{
  color: grey;
  display: flex;
  grid-gap: 2em;
  text-decoration: none;
  margin-top: 1em;
}

.links-footer:hover{
 transition: 1s;
  color:rgb(255, 251, 251);
}

.footer-info{
  display:flex;
}

