.home{
    text-align: center;
}

.logo{
    width: 10em;
    height: 10em;
}

.textfield-data{
    width: 35em;
    height: 2em;
}

.login-data{
    margin-top:2em;
}

.prompt-additonals{
    margin-top: 1.5em;
    padding-bottom: 2em;
}

.links{
    color: blue;
    text-decoration: none;
}
.links:hover{
    transition: 1s;
    background-color: rgb(128, 127, 127);
    padding: .5em;
    color: rgb(255, 255, 255);
}